{% extends "myapp/base.html" %}

{% block title %}Cookies{% endblock %}

{% block id %}legals{% endblock %}

{% block content %}
	<section class="legals">
		<div class="wrap">
			<div class="contents">
				<h1>Cookies</h1>
				<p>Una cookie o galleta informática es un pequeño archivo de texto que los sitios web almacenan en tu navegador para conocer información sobre tus hábitos de navegación y recordar tus datos de acceso (para que no tengas que volver a escribirlos).</p>
				<p>Nos permiten saber cuántas personas visitan el sitio, de qué forma lo navegan y con esta información podemos mejorar la forma en la que mostramos la información más relevante y personalizada para ti.</p>

				<p>La información que reunimos gracias al uso de cookies es muy valiosa para nosotros porque nos permite mejorar, pero no obligatorio para ti y puedes desactivarlas en el momento que tú quieras, encontrarás cómo hacerlo en www.allaboutcookies.org</p>
				
				<p>Mientras usas nuestro sitio, las cookies nos ayudan a recordar información como tu nombre de usuario, lenguaje o región, así como el tipo de producto que tienes contratado con Naica.</p>
			</div>
		</div>
	</section>
{% endblock %}